<h1>Editing Book</h1>
<%= form_with model:@book, local:true do |f| %>
<div class="field">
  <%= f.label :Title %>
  <%= f.text_field :title %>
</div>
<div class="field">
  <%= f.label :Body %>
  <%= f.text_field :body %>
</div>
<div>
  <%= f.submit 'Update Book' %>
</div>
<% end %>