<%= notice %>

<header>
 <h1>Books</h1>
</header>

  <table>
   <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
    </tr>
    </thead>
    <tbody>
    <div class="list-wrap">
    <% @books.each do |book| %>
    <div class="list-comment">
    <tr>
    <td class="list-title"><%= book.title %></td>
    <td class="list-body"><%= book.body %></td>
    <td><%= link_to 'show', book %></td>
    <td><%= link_to 'edit', edit_book_path(book) %></td>
    <td><%= link_to 'destroy', book, method: :delete %></td>
    </tr>
   </div>
</div>
 <% end %>
   </tbody>
  </table>

<h1>New book</h1>
<%= form_with model: @book, url:'/books', local:true do |f| %>
<% if @book.errors.any? %>
<h3><%= @book.errors.count %>error</h3>
<% @book.errors.full_messages.each do |message| %>
<%= message %>
<% end %>
<% end %>
<div class="field"></div>
 <%= f.label :title %><br>
 <%= f.text_field :title %>
</div>
<div class="field">
 <%= f.label :body %><br>
 <%= f.text_area :body %>
</div>
<div>
 <%= f.submit 'Create Book' %>
</div>
<% end %>