<html>
<header>
  <h1>Books</h1>
</header>

<body>
  <table>
   <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
    </tr>
    </thead>
     <tbody>
    <div class="list-wrap">
    <% @books.each do |book| %>
    <div class="list-comment">
    <tr>
    <td class="list-title"><%= book.title %></td>
    <td class="list-body"><%= book.body %></td>
    </tr>
   </div>
</div>
<% end %>

  </tbody>
  </table>
</body>

<h1>New book</h1>
<%= form_with model: @book, url:'/books', local:true do |f| %>
<div class="field">
 <%= f.label :Title %><br>
 <%= f.text_field :title %>
</div>
<div class="field">
 <%= f.label :Body %><br>
 <%= f.text_area :body %>
</div>
<div>
 <%= f.submit 'Create Book' %>
</div>
<% end %>


</html>